Source: mocksmtp
Section: mail
Priority: extra
Maintainer: Philipp Hagemeister <phihag@phihag.de>
Build-Depends: debhelper (>= 8.0.0), python3
Standards-Version: 3.9.2
Homepage: https://github.com/phihag/mocksmtp
Vcs-Git: git://github.com/phihag/mocksmtp-debian-packaging.git
Vcs-Browser: https://github.com/phihag/mocksmtp-debian-packaging
X-Python-Version: >= 3.0

Package: mocksmtp
Architecture: any
Depends: ${misc:Depends}, ${python3:Depends}, python3-pystache, adduser
Description: email test server
 An email (SMTP) server that accepts all emails and shows them in a web
 interface.
