[Unit]
Description=email test server

[Service]
ExecStart=/usr/bin/mockmail -c /etc/mockmail.conf --interactive

[Install]
WantedBy=multi-user.target
