#!/usr/bin/make -f
# -*- makefile -*-

override_dh_auto_install:
	install -D -m0755 mocksmtp.py $(CURDIR)/debian/mocksmtp/usr/bin/mocksmtp
	install -D -m0755 mocksmtp.init $(CURDIR)/debian/mocksmtp/etc/init.d/mocksmtp	
	install -D -m0644 config.production $(CURDIR)/debian/mocksmtp/etc/mocksmtp.conf

%:
	dh $@ --without python-support --with python3

DEB_UPSTREAM_VERSION=$(shell dpkg-parsechangelog | sed -rne 's,^Version: ([^-]+).*,\1,p')
get-orig-source:
	uscan --noconf --force-download --download-current-version --destdir=.
	rm -rf mocksmtp-$(DEB_UPSTREAM_VERSION).orig
	tar xzf $(DEB_UPSTREAM_VERSION) --transform "s#phihag-mocksmtp-[^/]*#mocksmtp-$(DEB_UPSTREAM_VERSION).orig#"
	rm $(DEB_UPSTREAM_VERSION)
	cd mocksmtp-$(DEB_UPSTREAM_VERSION).orig && rm Makefile # Remove unneded files
	tar czf mocksmtp_$(DEB_UPSTREAM_VERSION).orig.tar.gz mocksmtp-$(DEB_UPSTREAM_VERSION).orig
	rm -r mocksmtp-$(DEB_UPSTREAM_VERSION).orig
	
