#!/usr/bin/make -f
# -*- makefile -*-

%:
	dh $@ --without python-support --with python3

override_dh_auto_install:
	install -D -m0755 mockmail.py $(CURDIR)/debian/mockmail/usr/bin/mockmail
	install -D -m0755 mockmail.init $(CURDIR)/debian/mockmail/etc/init.d/mockmail	
	install -D -m0644 config.production $(CURDIR)/debian/mockmail/etc/mockmail.conf
	install -D -m0644 debian/mockmail.service $(CURDIR)/debian/mockmail/lib/systemd/system/mockmail.service

override_dh_installinit:
	dh_installinit --onlyscripts


DEB_UPSTREAM_VERSION=$(shell dpkg-parsechangelog | sed -rne 's,^Version: ([^-]+).*,\1,p')
get-orig-source:
	uscan --noconf --force-download --download-current-version --destdir=.
	rm -rf mockmail-$(DEB_UPSTREAM_VERSION).orig
	tar xzf $(DEB_UPSTREAM_VERSION) --transform "s#phihag-mockmail-[^/]*#mockmail-$(DEB_UPSTREAM_VERSION).orig#"
	rm $(DEB_UPSTREAM_VERSION)
	cd mockmail-$(DEB_UPSTREAM_VERSION).orig && rm Makefile # Remove unneded files
	tar czf mockmail_$(DEB_UPSTREAM_VERSION).orig.tar.gz mockmail-$(DEB_UPSTREAM_VERSION).orig
	rm -r mockmail-$(DEB_UPSTREAM_VERSION).orig
	
